.why-choose-us {
  max-width: 100%;
  width: 100%;
  padding-top: 187px;
  padding-bottom: 186px;
  padding-left: 70px;
  padding-right: 0;
  background: linear-gradient(
    180deg,
    rgba(237, 239, 255, 0) 0%,
    #edefff 130.82%
  );
  position: relative;
}

.why-choose-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.why-choose-us-heading {
  width: 380px;
}

.why-choose-us-heading-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}

.why-choose-us-descr-container {
  width: 326px;
  padding-top: 37px;
}

.why-choose-us-descr-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.why-choose-us-hero-container {
  display: flex;
  align-items: center;
  width: 925px;
  overflow-x: auto;
  cursor: pointer;
}

.why-choose-us-hero-container::-webkit-scrollbar {
  display: none;
}

.why-choose-us-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  border-radius: 20px;
  background: #ffffff;
  padding-top: 42px;
  padding-bottom: 41px;
  padding-left: 58px;
  box-shadow: 0px 15px 30px 0px #bfb5ff26;
}

.why-choose-us-hero-item-title {
  width: 464px;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  color: #202229;
}

.why-choose-us-hero-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 37px;
  width: 591px;
}

.why-choose-us-hero-item-content-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.why-choose-us-hero-item-content-list-text {
  padding-left: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.why-hero-image {
  width: 658.79px;
}

.learn-more-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 44px;
}

.load-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  appearance: button;
  outline: none;
  border: 0;
  padding: 0px 24px 0px 25px;
  border-radius: 30px;
  background: #202229;
  cursor: pointer;
}

.load-icon {
  fill: #edefff;
  color: #edefff;
  z-index: 1;
}

.load-text {
  padding-left: 12px;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #202229;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .why-choose-us {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .why-choose-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
  }

  .why-choose-us-heading {
    max-width: 100%;
    width: 100%;
  }

  .why-choose-us-heading-title {
    max-width: 100%;
    font-size: 32px;
    line-height: 32px;
  }

  .why-choose-us-descr-container {
    width: 326px;
    padding-top: 20px;
  }

  .why-choose-us-descr-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .why-choose-us-hero-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-top: 22px;
    overflow-x: hidden;
  }

  .why-choose-us-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    /* background: #ffffff; */
    background: 0 0;
    padding-top: 29px;
    padding-bottom: 31px;
    padding-left: 0px;
  }

  .why-choose-us-hero-item-title {
    width: 264px;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    color: #202229;
  }

  .why-choose-us-hero-item-content {
    padding-top: 20px;
    width: 100%;
    white-space: wrap;
  }

  .why-choose-us-hero-item-content-list {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }

  .bullet-icon {
    width: 12px;
    height: 3px;
    border-radius: 21px 0px 0px 0px;
  }

  .why-choose-us-hero-item-content-list-text {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    white-space: wrap;
  }

  .learn-more-container {
    padding-top: 20px;
  }

  .load-btn {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: button;
    outline: none;
    border: 0;
    background: #202229;
    cursor: pointer;
    width: 49.79px;
    height: 49.79px;
    padding: 0px 16.15px 0px 16.82px;
    border-radius: 20.19px;
  }

  .load-text {
    padding-left: 12px;
    font-size: 14.8px;
  }
}
