.why-choose {
  max-width: 100%;
  width: 100%;
  padding-top: 187px;
  padding-bottom: 186px;
  padding-left: 70px;
  padding-right: 0;
  background: linear-gradient(
    180deg,
    rgba(237, 239, 255, 0) 0%,
    #edefff 130.82%
  );
  position: relative;
}

.why-choose-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.why-choose-descr {
  width: 380px;
}

.why-choose-header {
  max-width: 380px;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}

.why-choose-descr-container {
  width: 326px;
  padding-top: 37px;
}

.why-choose-descr-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.why-choose-us-scroll {
  display: flex;
  align-items: center;
  width: 925px;
  overflow-x: auto;
  cursor: pointer;
}

.why-choose-us-scroll::-webkit-scrollbar {
  display: none;
}

.why-choose-us-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  border-radius: 20px;
  background: #ffffff;
  padding-top: 42px;
  padding-bottom: 41px;
  padding-left: 58px;
  box-shadow: 0px 15px 30px 0px #bfb5ff26;
}

.onboard-header {
  width: 464px;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  color: #202229;
}

.our-benefits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 37px;
  width: 591px;
}

.bullet {
  margin-top: 25px;
}

.benefit-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.benefit-content-text {
  padding-left: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.why-banner {
  width: 658.79px;
}

.learn-more-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 44px;
}

.load-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  appearance: button;
  outline: none;
  border: 0;
  padding: 0px 24px 0px 25px;
  border-radius: 30px;
  background: #202229;
  cursor: pointer;
}

.load-icon {
  fill: #edefff;
  color: #edefff;
  z-index: 1;
}

.load-text {
  padding-left: 12px;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #202229;
}

.why-menu-container {
  display: none;
}

/* @media only screen and (min-width: 320px) and (max-width: 480px) {
  .why-choose {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .why-vector {
    max-width: 100%;
    width: 100%;
  }

  .why-choose-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
  }

  .why-choose-descr {
    width: 100%;
  }

  .why-choose-header {
    max-width: 100%;
    font-size: 24px;
    line-height: 32px;
  }

  .why-choose-descr-container {
    max-width: 100%;
    padding-top: 20px;
  }

  .why-choose-descr-text {
    font-size: 16px;
    line-height: 28px;
  }

  .why-choose-us-scroll {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .why-choose-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 600px;
    padding: 20px;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .why-choose-us-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    border-radius: 20px;
    background: #ffffff;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 29px;
    box-shadow: 0px 15px 30px 0px #bfb5ff26;
  }

  .onboard-header {
    width: 285px;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
  }

  .our-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .bullet {
    margin-top: 15px;
  }

  .bullet-icon {
    display: block;
  }

  .benefit-content-text {
    padding-left: 12px;
    font-size: 16px;
    line-height: 28px;
    white-space: wrap;
  }

  .learn-more-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
  }

  .why-banner {
    max-width: 600px;
    width: 100%;
    object-fit: contain;
  }
} */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .why-choose {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .why-choose-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
  }

  .why-choose-descr {
    max-width: 100%;
    width: 100%;
  }

  .why-choose-header {
    max-width: 100%;
    font-size: 24px;
    line-height: 32px;
  }

  .why-choose-descr-container {
    width: 326px;
    padding-top: 20px;
  }

  .why-choose-descr-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .why-choose-us-scroll {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
  }

  .why-choose-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 600px;
    padding: 20px;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .onboard-header {
    width: 285px;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
  }

  .our-benefits {
    display: none;
  }

  .why-menu-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }

  .why-menu-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #202229cc;
  }

  .why-choose-us-item-container {
    width: 100%;
  }

  .benefit-content-text {
    padding-left: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 100%;
  }

  .why-banner {
    width: 100%;
    margin-top: 44px;
  }

  .learn-more-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
  }

  .load-btn {
    width: 64px;
    height: 64px;
    border-radius: 15px;
    padding: 0;
    appearance: button;
  }

  .load-icon {
    fill: #edefff;
    color: #edefff;
    z-index: 1;
  }

  .load-text {
    padding-left: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #202229;
  }
}
