.why-choose {
  max-width: 100%;
  width: 100%;
  padding-top: 187px;
  padding-bottom: 186px;
  padding-left: 70px;
  padding-right: 0;
}

.why-choose-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.why-choose-descr {
  width: 380px;
}

.why-choose-header {
  max-width: 380px;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}

.why-choose-descr-container {
  width: 326px;
  padding-top: 37px;
}

.why-choose-descr-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.why-choose-us-scroll {
  display: flex;
  align-items: center;
  width: 925px;
  overflow-x: auto;
  cursor: pointer;
}

.why-choose-us-scroll .why-choose-us-banner {
  flex-shrink: 0;
}

.why-choose-us-scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .why-choose {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .why-choose-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .why-choose-descr {
    width: 100%;
  }

  .why-choose-header {
    max-width: 100%;
    font-size: 32px;
    line-height: 42px;
  }

  .why-choose-descr-container {
    max-width: 100%;
    padding-top: 20px;
  }

  .why-choose-descr-text {
    font-size: 18px;
    line-height: 28px;
  }

  .why-choose-us-scroll {
    width: 100%;
    padding-top: 20px;
    overflow-x: auto;
  }

  .why-choose-us-banner {
    width: 320px;
    height: auto;
  }
}
