.service-stripe {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.stripe-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  bottom: -45px;
}

.stripe {
  width: 100%;
}

.services-tech-stack {
  max-width: 100%;
  width: 100%;
  padding-top: 219px;
  padding-bottom: 148px;
  background: url('data:image/svg+xml,<svg width="1540" viewBox="0 0 1440 1130" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 50.0002L1440 0V1080.5L0 1130V50.0002Z" fill="%23EDEFFF"/></svg>');
  position: relative;
  /* background: #edefff; */
}

.services-tech-stack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.services-tech-stack-header {
  max-width: 977px;
  width: 100%;
  text-align: center;
}

.services-tech-stack-header-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.services-tech-stack-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 70px 0px;
  width: 100%;
}

.info-inner {
  padding-top: 30px;
}

.services-tech-stack-content {
  display: flex;
  flex-direction: column;
}

.services-tech-stack__heading {
  max-width: 380px;
  width: 100%;
  text-align: left;
}

.services-tech-stack__heading-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
}

.services-tech-stack-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.services-tech-stack-rate-items {
  display: flex;
  align-items: center;
}

.services-tech-stack-rate {
  padding-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.services-tech-stack-main {
  max-width: 730px;
  width: 100%;
  height: 224px;
  border-radius: 7px;
  background: #ffffff;
}

.services-tech-stack-main-header {
  padding-top: 18px;
  padding-left: 29px;
  width: 100%;
}

.services-tech-stack-main-header-title {
  text-align: center;
  color: #202229;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.78px;
}

.services-tech-stack-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  padding-right: 26px;
  padding-left: 28px;
  padding-bottom: 23px;
}

.services-tech-stack-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.services-tech-image {
  width: 96px;
  height: 96px;
  border-radius: 74px;
}

.tech-stack-item {
  padding-left: 20px;
}

.services-tech-stack-menu-title {
  padding-top: 12px;
  width: 81px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  background: #f7f7f7;
  border: 2px solid #f6f6f6;
  border-radius: 30px;
  cursor: pointer;
}

.prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  background: #f7f7f7;
  border: 2px solid #f6f6f6;
  border-radius: 30px;
  cursor: pointer;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 70px 0px;
  width: 100%;
}

.explore-conent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.explore-text {
  padding-left: 12px;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #202229;
}

.explore-more {
  max-width: 730px;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  appearance: button;
  outline: none;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.explore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  appearance: button;
  outline: none;
  border: 0;
  padding: 0px 24px 0px 25px;
  border-radius: 30px;
  background: #202229;
  cursor: pointer;
}

.explore-icon {
  fill: #edefff;
  color: #edefff;
  z-index: 1;
}

.explore-more-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

/* mobile */
@media only screen and (min-width: 150px) and (max-width: 480px) {
  .services-tech-stack {
    max-width: 100%;
    width: 100%;
  }

  .services-tech-stack {
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .services-tech-stack {
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    /* background: url('data:image/svg+xml,<svg width="978" viewBox="0 0 1440 1130" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 50.0002L1440 0V1080.5L0 1130V50.0002Z" fill="%23EDEFFF"/></svg>'); */
    background: #edefff;
  }

  .services-tech-stack-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .services-tech-stack-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .services-tech-stack-header {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .services-tech-stack-header-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  .services-tech-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .services-tech-stack__heading {
    max-width: 100%;
    width: 100%;
    padding-top: 40px;
    text-align: left;
  }

  .services-tech-stack__heading-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .services-tech-stack-main {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .services-tech-stack-main-header {
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
  }

  .services-tech-stack-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
  }

  .services-tech-image {
    width: 64px;
    height: 64px;
  }

  .tech-stack-item {
    padding: 10px;
  }

  .services-tech-stack-menu-title {
    padding-top: 8px;
    width: auto;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .next-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
  }

  .prev-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
  }

  .explore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 0;
    width: 100%;
  }

  .explore-btn {
    width: 60px;
    height: 60px;
    appearance: button;
  }

  .explore-icon {
    width: 70px;
    height: 70px;
  }

  .explore-more {
    max-width: 90%;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .explore-text {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4px;
    white-space: nowrap;
  }

  .explore-more-text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

/* Styles for small devices (phones) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .services-tech-stack {
    max-width: 100%;
    width: 100%;
  }

  .services-tech-stack {
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .services-tech-stack {
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #edefff;
  }

  .services-tech-stack-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .services-tech-stack-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .services-tech-stack-header {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .services-tech-stack-header-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  .services-tech-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .services-tech-stack__heading {
    max-width: 100%;
    width: 100%;
    padding-top: 40px;
    text-align: left;
  }

  .services-tech-stack__heading-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .services-tech-stack-main {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .services-tech-stack-main-header {
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
  }

  .services-tech-stack-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
  }

  .services-tech-image {
    width: 64px;
    height: 64px;
  }

  .tech-stack-item {
    padding: 0px;
  }

  .services-tech-stack-menu-title {
    padding-top: 8px;
    width: auto;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .next-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
  }

  .prev-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
  }

  .explore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 0;
    width: 100%;
  }

  .explore-btn {
    width: 60px;
    height: 60px;
    appearance: button;
  }

  .explore-icon {
    width: 70px;
    height: 70px;
  }

  .explore-more {
    max-width: 90%;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .explore-text {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4px;
    white-space: nowrap;
  }

  .explore-more-text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
/* Styles for medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .services-tech-stack {
    max-width: 100%;
    width: 100%;
  }

  .services-tech-stack {
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .services-tech-stack {
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #edefff;
  }

  .services-tech-stack-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .services-tech-stack-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .services-tech-stack-header {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .services-tech-stack-header-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  .services-tech-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .services-tech-stack__heading {
    max-width: 100%;
    width: 100%;
    padding-top: 40px;
    text-align: left;
  }

  .services-tech-stack__heading-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .services-tech-stack-main {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .services-tech-stack-main-header {
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
  }

  .services-tech-stack-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
  }

  .services-tech-image {
    width: 64px;
    height: 64px;
  }

  .tech-stack-item {
    padding: 0px;
  }

  .services-tech-stack-menu-title {
    padding-top: 8px;
    width: auto;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .next-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
  }

  .prev-button {
    width: 64px;
    height: 64px;
    border-radius: 20px;
  }

  .explore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 0;
    width: 100%;
  }

  .explore-btn {
    width: 60px;
    height: 60px;
    appearance: button;
  }

  .explore-icon {
    width: 70px;
    height: 70px;
  }

  .explore-more {
    max-width: 90%;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .explore-text {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4px;
    white-space: nowrap;
  }

  .explore-more-text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

/* Styles for large devices (desktops) */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
}
