.services-tech-stack {
  max-width: 1440px;
  width: 100%;
  background: #edefff;
  position: relative;
  /* padding-top: 183px; */
}

.services-tech-stack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 183px;
  padding-bottom: 127px;
  position: relative;
}

.services-tech-stack-header {
  max-width: 977px;
  width: 100%;
  text-align: center;
}

.services-tech-stack-header-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.services-tech-stack-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px 0px;
  width: 100%;
}

.info {
  padding-top: 90px;
}

.info-inner {
  padding-top: 30px;
}

.services-tech-stack-content {
  display: flex;
  flex-direction: column;
}

.services-tech-stack__heading {
  max-width: 380px;
  width: 100%;
  text-align: left;
}

.services-tech-stack__heading-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
}

.services-tech-stack-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.services-tech-stack-rate-items {
  display: flex;
  align-items: center;
}

.services-tech-stack-rate {
  padding-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}

.information__tech-stack {
  max-width: 730px;
  width: 100%;
  height: 224px;
  border-radius: 7px;
  background: #ffffff;
}

.information__tech-stack-header {
  padding-top: 18px;
  padding-left: 29px;
  width: 100%;
}

.information__tech-stack-header-title {
  text-align: center;
  color: #202229;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.78px;
}

.services-tech-stack-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  padding-right: 26px;
  padding-left: 28px;
}

.services-tech-stack-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.tech-stack-item {
  padding-left: 20px;
}

.services-tech-stack-menu-title {
  padding-top: 12px;
  width: 81px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.explore {
  padding-top: 14px;
  /* padding-bottom: 127px; */
  width: 100%;
}

.explore-conent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.explore-text {
  padding-left: 12px;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #202229;
}

.explore-more {
  max-width: 730px;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  appearance: button;
  outline: none;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.explore-btn {
  width: 74px;
  height: 74px;
  appearance: button;
}

.explore-more-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #202229cc;
}
