.navigation {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  height: 60px;
  background: #525aa0;
  box-shadow: 0px 15px 25px 0px #00000026;
  border-radius: 15px;
  position: relative;
}

.zwilt {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  appearance: button;
  padding: 14px 0px 18.65px 25px;
  cursor: pointer;
}

.site-logo {
  width: 112px;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

.navigation-menu-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}

.navigation-link {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.navigation-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid currentColor;
  transform: scale(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease;
}

.navigation-link:hover:after {
  transform: scale(1);
}

.menu-list {
  padding-left: 30px;
}

.navigation-menu-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 9px 8px 0px;
  position: relative;
}

.login {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-right: 20px;
  color: #ffffff;
  white-space: nowrap;
  appearance: button;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.login:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid currentColor;
  transform: scale(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease;
}

.login:hover:after {
  transform: scale(1);
}

.join-button {
  width: 102px;
  height: 43px;
  padding: 14px 21px 15px 21px;
  border-radius: 16px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  outline: none;
  border: 0;
  color: #202229;
  text-decoration: none;
  cursor: pointer;
}

.hamburger-container {
  display: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 50px;
    position: relative;
  }

  .zwilt {
    padding: 10px 15px;
    cursor: pointer;
  }

  .navigation-menu-btn-container {
    display: none !important;
  }

  .hamburger-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    appearance: button;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 50px;
    position: relative;
  }

  .zwilt {
    padding: 10px 15px;
    cursor: pointer;
  }

  .navigation-menu-btn-container {
    display: none !important;
  }

  .hamburger-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    appearance: button;
  }
}

/* Styles for medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 50px;
    position: relative;
  }

  .zwilt {
    padding: 10px 15px;
    cursor: pointer;
  }

  .navigation-menu-btn-container {
    display: none !important;
  }

  .hamburger-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    appearance: button;
  }
}
