.faq {
  max-width: 100%;
  width: 100%;
  padding-top: 134px;
  padding-bottom: 171.5px;
  position: relative;
  background: url('data:image/svg+xml,<svg width="1440" height="1344" viewBox="0 0 1440 1344" fill="#FFBE2E" xmlns="http://www.w3.org/2000/svg"><path d="M0 69L1440 0V1278.5L0 1343.5V69Z" fill="%23F3F3F3"/></svg>');
  background-color: #f3f3f3;
}

.faq {
  max-width: 100%;
  width: 100%;
  padding-top: 134px;
  padding-bottom: 171.5px;
  position: relative;
  height: auto;
  background: url("../../assets/images/faq.png") no-repeat center center;
  background-size: cover;
  background-color: #f3f3f3;
}

.faq-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faq-header {
  font-size: 54px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #202229;
}

.faq-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 88px;
}

.faq-items {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  border-top: 1px solid #d6d6d6;
  cursor: pointer;
}

.faq-bg {
  background: #e8e8e8;
}

.faq-item-bt {
  border-bottom: 1px solid #d6d6d6;
}

.faq-item {
  border-right: 1px solid #d6d6d6;
  padding: 44px 70px;
}

.faq-item-inner {
  border-right: 1px solid #d6d6d6;
  padding: 44px 71px;
  white-space: nowrap;
}

.faq-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #202229;
}

.faq-descr {
  width: 100%;
  padding-top: 44px;
  padding-bottom: 44px;
  text-align: center;
}

.faq-descr-content {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  opacity: 0.8px;
  color: #202229;
}

.faq-bold {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.yellow-zwilt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 90.99px;
}

.isactive-icon {
  width: 26.06px;
  padding-right: 89.94px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto 0;
}

.yellow {
  width: 26.06px;
  color: #ffbe2e;
  fill: #ffbe2e;
}

.faq-icon {
  position: absolute;
  max-width: 100%;
  width: 100%;
  bottom: -1.5px;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
  .yellow {
    display: none;
  }

  .faq {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .faq-icon {
    max-width: 100%;
    width: 100%;
  }

  .faq-header {
    font-size: 26px;
    line-height: 36px;
  }

  .faq-content {
    padding-top: 40px;
    width: 100%;
  }

  .faq-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .faq-item {
    border-right: none;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
  }

  .faq-item-inner {
    border-bottom: 1px solid #d6d6d6;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
  }

  .faq-title {
    font-size: 18px;
    line-height: 22px;
  }

  .faq-descr {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .faq-descr-content {
    font-size: 18px;
    opacity: 0.8px;
  }

  .faq-bold {
    font-size: 18px;
  }

  .yellow-zwilt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .yellow-zwilt-img {
    width: 20px;
    height: 12px;
  }
}

/* Styles for small devices (phones) */
@media only screen and (min-width: 480px) and (max-width: 588px) {
  .yellow {
    display: none;
  }

  .faq {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .faq-icon {
    max-width: 100%;
    width: 100%;
  }

  .faq-header {
    font-size: 26px;
    line-height: 36px;
  }

  .faq-content {
    padding-top: 40px;
    width: 100%;
  }

  .faq-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .faq-item {
    border-right: none;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
  }

  .faq-item-inner {
    border-bottom: 1px solid #d6d6d6;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
  }

  .faq-title {
    font-size: 18px;
    line-height: 22px;
  }

  .faq-descr {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .faq-descr-content {
    font-size: 18px;
    opacity: 0.8px;
  }

  .faq-bold {
    font-size: 18px;
  }

  .yellow-zwilt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .yellow-zwilt-img {
    width: 20px;
    height: 12px;
  }
}

/* Styles for medium devices (tablets) */
@media only screen and (min-width: 588px) and (max-width: 1024px) {
  .yellow {
    display: none;
  }

  .faq {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .faq-icon {
    max-width: 100%;
    width: 100%;
  }

  .faq-header {
    font-size: 30px;
    line-height: 36px;
  }

  .faq-content {
    padding-top: 40px;
    width: 100%;
  }

  .faq-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .faq-item {
    border-right: none;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
  }

  .faq-item-inner {
    border-bottom: 1px solid #d6d6d6;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
  }

  .faq-title {
    font-size: 18px;
    line-height: 22px;
  }

  .faq-descr {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .faq-descr-content {
    font-size: 18px;
    opacity: 0.8px;
  }

  .faq-bold {
    font-size: 18px;
  }

  .yellow-zwilt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .yellow-zwilt-img {
    width: 20px;
    height: 12px;
  }
}

/* Styles for large devices (desktops) */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
}
