@import url("https://fonts.cdnfonts.com/css/switzer");
:root {
  --blue-color: #525aa0;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Switzer;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.stripe-container {
  max-width: 100%;
  width: 100%;
  padding-top: 4px;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
  .stripe-container {
    max-width: 100%;
    width: 100%;
  }

  .stripe {
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .stripe-container {
    max-width: 100%;
    width: 100%;
  }

  .stripe {
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .stripe-container {
    max-width: 100%;
    width: 100%;
  }

  .stripe {
    max-width: 100%;
    width: 100%;
  }
}
