.footer {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 0;
  border: none;
  padding: 0 70px;
  background: linear-gradient(180deg, #0c0c0c 0%, #202229 100%);
}

.foooter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  width: 100%;
  height: 481px;
  background: url("../../assets/images/footer-rectangle.png");
}

.footer-heading {
  display: flex;
  justify-content: center;
  max-width: 683px;
  text-align: center;
  padding-top: 142px;
}

.footer-heading-title {
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.footer-form {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  max-width: 730px;
  width: 100%;
}

.footer-icon {
  width: 73.73px;
  height: 73.73px;
}

.footer-main-inner {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  padding-top: 141px;
}

.footer-company {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.footer-company-content {
  margin: 0;
}

.footer-logo {
  width: 76.85px;
  height: auto;
}

.footer-company-descr {
  max-width: 284px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-top: 28.69px;
  color: #ffffffcc;
}

.footer-links {
  max-width: 332.32px;
  padding-top: 49px;
}

.links-redir {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #767679;
  text-transform: uppercase !important;
}

.links-redr-btn-container {
  padding-top: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.links-redr-btn {
  outline: none;
  border: 0;
  font-size: 14.86px;
  font-weight: 500;
  line-height: 12.16px;
  text-align: center;
  color: #edefff;
  background: #292b34;
  border-radius: 20.2703px;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 44.84px;
  padding-right: 45.32px;
  cursor: pointer;
}

.btn-space {
  padding-left: 8px;
}

.footer-connect {
  display: flex;
  flex-direction: column;
}

.footer-connect-title {
  max-width: 779px;
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
  color: #ffffff;
}

.footer-menu-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-top: 64px;
}

.footer-menu-title {
  opacity: 0.4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #767679;
  text-transform: uppercase !important;
}

.footer-menu-items {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  text-decoration: none;
  list-style: none;
}

.footer-menu-list {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

.isActive {
  border-bottom: 1px solid transparent;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, #ffffff 0%, #202229 99.01%);
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.footer-menu-list-space {
  padding: 0;
  margin: 0;
}

.footer-bottom {
  display: flex;
  width: 100%;
  padding-top: 148px;
}

.footer-bottom-content {
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid transparent;
  border-width: 1px;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(32, 34, 41, 0.37) 99.01%
  );
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.footer-rights {
  padding-top: 9px;
}

.footer-rights-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 31.25px;
  text-align: left;
  color: #ffffff;
}

.footer-privacy {
  display: flex;
  align-items: center;
  padding-top: 9px;
}

.footer-privacy-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 31.25px;
  text-align: left;
  text-decoration: underline;
  color: #767679;
  text-underline-offset: 4px;
}

.privacy-left {
  padding-left: 34px;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
  .footer {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    background: url("../../assets/images/footer-rectangle.png") no-repeat center
      center;
    background-size: cover;
  }

  .footer-heading {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
  }

  .footer-heading-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .footer-form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer-main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
  }

  .footer-company-descr {
    max-width: 100%;
    width: 100%;
    line-height: 18px;
    text-align: left;
    padding-top: 20px;
  }

  .footer-links {
    max-width: 100%;
    padding-top: 30px;
  }
  .links-redir {
    line-height: 18px;
  }

  .links-redr-btn-container {
    width: 100%;
  }

  .links-redr-btn {
    line-height: 1.5;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .footer-connect {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
  }

  .footer-connect-title {
    max-width: 100%;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .footer-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
  }

  .footer-menu-title {
    line-height: 18px;
  }

  .footer-menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 14px;
    padding: 0;
  }

  .footer-menu-list {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  .footer-menu-list-space {
    padding-top: 10px;
  }

  .footer-menu-top {
    margin-top: 20px;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
  }

  .footer-rights-text {
    font-size: 14px;
    line-height: 18px;
  }

  .footer-privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    padding-top: 9px;
  }

  .footer-privacy-text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
  }

  .privacy-left {
    padding: 0;
    padding-top: 12px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
}
